services:
  gda_backup:
    image: ghcr.io/disciple153/gda-backup:latest
    environment:
      DRY_RUN: true
      BACKUP_CRON: "* * * * *"
      POSTGRES_PASSWORD: password
      BUCKET_NAME: my-bucket
      DYNAMO_TABLE: my-table
      MIN_STORAGE_DURATION: 1
      AWS_ACCESS_KEY_ID: AKIAIOSFODNN7EXAMPLE
      AWS_SECRET_ACCESS_KEY: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      AWS_DEFAULT_REGION: us-east-1
    networks:
      - gda_backup_network
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - ./backup_test:/backup:ro
      - ./restore_test:/restore

  database:
    image: "postgres:latest"
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - gda_backup_volume:/var/lib/postgresql/data
    networks:
      - gda_backup_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  gda_backup_volume:

networks:
  gda_backup_network: